<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galway Sights To See
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- card ui display -->
  <ion-card>
    <ion-card-header>
      <img src="assets/sights1.jpg" alt="Galway sights">
      <ion-card-subtitle>Galway Sights</ion-card-subtitle>
      <ion-card-title>Sightseeing</ion-card-title>
    </ion-card-header>
    <!-- written content section -->
    <ion-card-content>
      Galway offers a wide rnage of sights to see including important historical architecture and areas with a rich history attached to them.
    </ion-card-content>
  </ion-card>
<!-- list of items -->
  <br>
  <ion-list>
    <ion-item>
      <ion-label>Eyre Square</ion-label>
    </ion-item>
    <img src="assets/square.jpg" alt="Dela" height="100" width="180">
    <ion-item>
      <ion-label>Wild Atlantic Way</ion-label>
    </ion-item>
    <img src="assets/way.jpg" alt="Apoema" height="100" width="180">
    <ion-item>
      <ion-label>St Nicholas Church</ion-label>
    </ion-item>
    <img src="assets/church.jpg" alt="Zappis" height="100" width="180">
    <ion-item>
      <ion-label>Galway Cathedral</ion-label>
    </ion-item>
    <img src="assets/cathedral.jpg" alt="Ruibin" height="100" width="180">
    <ion-item>
      <ion-label>Spanish Arch</ion-label>
    </ion-item>
    <img src="assets/arch.jpg" alt="Dough Bros" height="100" width="180">
    <ion-item>
      <ion-label>And more</ion-label>
    </ion-item>
  </ion-list>
  <br>
  <!-- home button -->
  <ion-button (click)="homePage()">Back</ion-button>
</ion-content>


