<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galway Pubs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- card ui display -->
  <ion-card>
    <ion-card-header>
      <img src="assets/GalwayFood.jpg" alt="Galway food">
      <ion-card-subtitle>Galway nightlife</ion-card-subtitle>
      <ion-card-title>Nightlife</ion-card-title>
    </ion-card-header>
  <!-- written content section -->
    <ion-card-content>
      Galway is home to a vibrant nightlife scene. The city has numerous pubs and bars
       as well as a few nightclubs along with some of the finest theatres and comedy clubs in the country.
    </ion-card-content>
  </ion-card>
<!-- list of items -->
  <br>
  <ion-list>
    <ion-item>
      <ion-label>Front Door</ion-label>
    </ion-item>
    <img src="assets/front.jpg" alt="Dela" height="100" width="180">
    <ion-item>
      <ion-label>Buskers</ion-label>
    </ion-item>
    <img src="assets/buskers.jpg" alt="Apoema" height="100" width="180">
    <ion-item>
      <ion-label>Carols</ion-label>
    </ion-item>
    <img src="assets/carols.jpg" alt="Zappis" height="100" width="180">
    <ion-item>
      <ion-label>Roisin Dubh</ion-label>
    </ion-item>
    <img src="assets/roisin.jpg" alt="Ruibin" height="100" width="180">
    <ion-item>
      <ion-label>Monroes</ion-label>
    </ion-item>
    <img src="assets/monroes.jpg" alt="Dough Bros" height="100" width="180">
    <ion-item>
      <ion-label>And more</ion-label>
    </ion-item>
  </ion-list>
  <br>
  <!-- home button -->
  <ion-button (click)="homePage()">Back</ion-button>
</ion-content>



