<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galway Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- card ui display -->
  <ion-card>
    <ion-card-header>
      <img src="assets/GalwayFood.jpg" alt="Galway food">
      <ion-card-subtitle>Galway Restuarants</ion-card-subtitle>
      <ion-card-title>Dining</ion-card-title>
    </ion-card-header>
  <!-- written content section -->
    <ion-card-content>
      Galway is the harbor city of Ireland which holds a great diversity in Irish historic landmarks, seafood, and other authentic ancient cuisines. You can have the same basic cuisines being 
      sold in the most expensive and cheapest Galways restaurants as the flavorful signature foods of Galway, Ireland.
    </ion-card-content>
  </ion-card>
<!-- list of items -->
  <br>
  <ion-list>
    <ion-item>
      <ion-label>Dela Restuarant</ion-label>
    </ion-item>
    <img src="assets/dela.jpg" alt="Dela" height="100" width="180">
    <ion-item>
      <ion-label>Apoema Bistro</ion-label>
    </ion-item>
    <img src="assets/apoema.jpg" alt="Apoema" height="100" width="180">
    <ion-item>
      <ion-label>Zappis</ion-label>
    </ion-item>
    <img src="assets/zappis.jpg" alt="Zappis" height="100" width="180">
    <ion-item>
      <ion-label>Ruibin</ion-label>
    </ion-item>
    <img src="assets/ruibin.jpg" alt="Ruibin" height="100" width="180">
    <ion-item>
      <ion-label>Dough Bros</ion-label>
    </ion-item>
    <img src="assets/dough.jpg" alt="Dough Bros" height="100" width="180">
    <ion-item>
      <ion-label>And more</ion-label>
    </ion-item>
  </ion-list>
  <br>
  <!-- home button -->
  <ion-button (click)="homePage()">Back</ion-button>
</ion-content>


