<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- crad ui display -->
  <ion-card>
    <ion-card-header>
      <img src="assets/history.jpg" alt="Galway history">
      <ion-card-subtitle>Galway History</ion-card-subtitle>
      <ion-card-title>A Brief History</ion-card-title>
    </ion-card-header>
  <!-- written content section -->
    <ion-card-content>
      Galway was first recorded in 1124 when a fort was built there. However, the town was founded in the 13th century. In 1170-71 the English invaded eastern Ireland and in 1232 a 
      baron named Richard de Burgh took this area and created a town. After 1270 walls were built around Galway.
    </ion-card-content>
  </ion-card>
<br>
<!-- home button -->
<ion-button (click)="homePage()">Back</ion-button>
</ion-content>
