<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galway Tourism
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/galway.jpg" alt="Galway Bay">
      <ion-card-subtitle>Galway</ion-card-subtitle>
      <ion-card-title>Come Explore</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Galway is second only to Dublin in yearly visitors. With it's charming streets, shopping and nightlife mixed with culture, 
      traditional Irish music and activities for all the family, look no further for the perfect escape.
    </ion-card-content>
  </ion-card>
</ion-content>
